.section {
  display: grid;
  align-items: end;
  overflow: hidden;
  padding-top: var(--kds-size-20);
  background: var(--kds-lavender-500);
}

.image {
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .section {
    padding-top: var(--kds-size-64);
  }
}